:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-light: rgba(0, 0, 0, 0.87);
  --color-dark: rgba(255, 255, 255, 0.87);
  --foreground-color: light-dark(var(--color-light), var(--color-dark));
  --background-color: light-dark(#f0f1f6, #000000);
  --card-background-color: light-dark(#ffffff, #2a2929);
  --accent-color: light-dark(#65fc6f, #004f00);
  --disabled-color: light-dark(#aeaeae, #111111);
  --positive-color: light-dark(#65fc6f, #004f00);
  --negative-color: light-dark(#ffa8a8, #660000);

  color: var(--foreground-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  --foreground-color: var(--color-light);
  --background-color: #f0f1f6;
  --card-background-color: #ffffff;
  --accent-color: #65fc6f;
  --disabled-color: #aeaeae;
  --positive-color: #65fc6f;
  --negative-color: #ffa8a8;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.dark-theme {
  --foreground-color: var(--color-dark);
  --background-color: #000000;
  --card-background-color: #2a2929;
  --accent-color: #004f00;
  --disabled-color: #111111;
  --positive-color: #004f00;
  --negative-color: #660000;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  font-weight: 700;
  text-decoration: underline;
}

a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100%;
}

.card {
  background-color: var(--card-background-color);
  border: 1px solid var(--foreground-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

input {
  border: 1px solid var(--foreground-color);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

button {
  background-color: var(--accent-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  border-radius: 0.25rem;
}