:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --foreground-color: light-dark(rgba(0, 0, 0, 0.87), rgba(255, 255, 255, 0.87));
  --background-color: light-dark( #f0f1f6, #000000);
  --card-background-color: light-dark( #ffffff, #2a2929);
  --accent-color: light-dark( #a8acfc, #606dfd);

  color: var(--foreground-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  width: 100%;
  padding: 2rem;
}

